<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1525">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Get In Touch</span>
            <h2 class="cs-title">Feel Free to Write Us Anytime</h2>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1525" name="Contact Form" method="post">
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1525" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="text" id="phone-1525" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-1525" name="email" placeholder="Email">
            </label>
              <label class="cs-label">
                Service Address
                <input class="cs-input" required type="text" id="email-1525" name="email" placeholder="Email">
            </label>
      
            <label class="cs-label cs-message">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1525" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
        </form>
    </div>
   
</section>
                                