---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1060">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Transforming Your Outdoor Space</h1>
            <p class="cs-text">
                At OneScape Landscaping, we specialize in creating and maintaining breathtaking outdoor environments. From seasonal cleanups to state-of-the-art irrigation systems, our team is dedicated to enhancing the beauty and functionality of your property.
            </p>
            <a href="" class="cs-button-solid">Book Appointment</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="assets/images/icons8-rake.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Seasonal Cleanup</h3>
                <p class="cs-item-text">
                  From removing debris and fallen leaves to pruning shrubs and trees, our team will ensure your landscape looks pristine year-round.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="assets/images/icons8-irrigation.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Irrigation Service</h3>
                <p class="cs-item-text">
                    Our experts will design and install an efficient watering system tailored to the specific needs of your property, helping you conserve water and maintain lush greenery.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="assets/images/icons8-mower.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">General Maintenance</h3>
                <p class="cs-item-text">
                    Maintain the beauty and health of your landscape with our ongoing maintenance services. 
                </p>
            </li>
        </ul>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/images2.png">
        <source media="(min-width: 601px)" srcset="/assets/images/images2.png">
        <img decoding="async" src="/assets/images/images2.png" alt="mechanic" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>


<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1444">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/image1.png">
            <source media="(min-width: 601px)" srcset="/assets/images/image1.png">
            <img loading="lazy" decoding="async" src="/assets/images/image1.png" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Guaranteed Satisfaction</span>
            <h2 class="cs-title">Why Choose OneScape Landscaping?</h2>
            <p class="cs-text">
               At OneScape Landscaping, we understand that choosing the right landscaping company is an important decision. Here are just a few reasons why you can trust us with your outdoor space:
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Care & Experience</h3>
                        <p class="cs-li-text">
                            With years of experience in the industry, our team brings a wealth of knowledge and expertise to every project. From seasonal cleanups to intricate hardscape installations, you can trust that your landscape is in capable hands.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Personalized Attention</h3>
                        <p class="cs-li-text">
                            We believe in treating every client like family. From the initial consultation to the final walkthrough, we'll work closely with you to understand your unique needs and preferences, ensuring that the end result reflects your vision and exceeds your expectations.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Attention to Detail</h3>
                        <p class="cs-li-text">
                           Whether it's carefully selecting the perfect plants for your garden or meticulously crafting a custom water feature, we pay close attention to every detail to create a landscape that's as beautiful as it is functional.
                        </p>
                    </div>
                </li>
            </ul>     
            <a href="" class="cs-button-solid">About Us</a>        
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1574">
    <div class="cs-container">
        <ul class="cs-card-group">
         
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-package.svg"
                        alt="icon" width="48" height="48" loading="lazy" decoding="async">
                <span class="cs-stat">100+</span>
                <span class="cs-info">Jobs Completed</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-hand.svg"
                        alt="icon" width="48" height="48" loading="lazy" decoding="async">
                <span class="cs-stat">5/5</span>
                <span class="cs-info">Customer Ratings</span>
            </li>
           
        </ul>
    </div>
    <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-waves.svg"
            alt="waves" width="1920" height="500" loading="lazy" decoding="async">
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-402">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">The Beauty of OneScape Landscaping</h2>
           
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Photo1.png">
                <source media="(min-width: 601px)" srcset="/assets/images/Photo1.png">
                <img loading="lazy" decoding="async" src="/assets/images/Photo1.png" alt="gallery" width="630" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Photo2.png">
                <source media="(min-width: 601px)" srcset="/assets/images/Photo2.png">
                <img loading="lazy" decoding="async" src="/assets/images/Photo2.png" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Photo3.png">
                <source media="(min-width: 601px)" srcset="/assets/images/Photo3.png">
                <img loading="lazy" decoding="async" src="/assets/images/Photo3.png" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Photo4.png">
                <source media="(min-width: 601px)" srcset="/assets/images/Photo4.png">
                <img loading="lazy" decoding="async" src="/assets/images/Photo4.png" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Photo5.png">
                <source media="(min-width: 601px)" srcset="/assets/images/Photo5.png">
                <img loading="lazy" decoding="async" src="/assets/images/Photo5.png" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/Photo6.png">
                <source media="(min-width: 601px)" srcset="/assets/images/Photo6.png">
                <img loading="lazy" decoding="async" src="/assets/images/Photo6.png" alt="gallery" width="630" height="400">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-727">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Trusted by Thousand of People & Companies</h2>
            <p class="cs-text">
               At OneScape Landscaping, we take pride in delivering exceptional service and exceeding our clients' expectations. But don't just take our word for it—here's what some of our satisfied clients have to say about their experience working with us
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Outstanding Service and Attention to Detail</h3>
                <p class="cs-item-text">
                    Working with OneScape Landscaping was an absolute pleasure from start to finish. Their team's attention to detail and commitment to excellence truly sets them apart. Our yard has never looked better!
                </p>
                <span class="cs-name">Daniel</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">A True Pleasure to Work With</h3>
                <p class="cs-item-text">
                    Choosing OneScape Landscaping was one of the best decisions we've ever made for our home. Not only did they deliver exceptional results, but they also made the entire process enjoyable and stress-free. It was truly a pleasure to work with such a talented and professional team
                </p>
                <span class="cs-name">Daniel</span>
            </li>
        </ul>
    </div>
</section>
                                
                                
                                
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}